/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styling */
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('/mosque-6153752.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    position: relative;
  }
  body::before{
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.7);
    z-index: -1;
    backdrop-filter: blur(2px);
  }
  
  /* Container Styling */
  .container {
    /* background: #fff; */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 95%;
    text-align: center;
    backdrop-filter: blur(4px);
  }
    
  /* Prayer Times Display Styling */
  #prayerTimes {
    margin-top: 25px;
    text-align: left;
    border-radius: 8px;
  }
  p{
    /* border: 1px solid #333; */
    padding: 20px;
    display: flex;
    font-size: 18px;
    border-radius: 8px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: #f5f5f5;
    font-weight: bold;
  }
  strong{
    color: #99e1ff;
  }